/node_modules
/coverage
/.nyc_output
/.env
npm-debug.log
/server/controllers/RoleContrl.js
/server/controllers/DocContrl.js
/server/controllers/helper
/server/routes/document.js
/server/routes/role.js
/file.js