$white: white;
$blue: #191970;
$white_80: rgba(255, 255, 255, 0.8);
$ash_color: #B5BEB2;

//urls
$url_0: url(../images/background.jpeg);
$url_1: url(../images/homePage.jpg);

//@extend-elements
//original selectors
//body, html
%extend_1 {
	background: $url_0 no-repeat center center fixed;
	background-size: cover;
	padding: 0 !important;
	margin: 0 !important;
	overflow-y: scroll;
}


// body {
// 	@extend %extend_1;
// }
// html {
// 	@extend %extend_1;
// }

.homePage {
   background: $url_1;
   background-size: cover;
   padding: 0 !important;
   margin: 0 !important;
   min-height: 700px !important;
}
.Docman {
	margin-left: 80px;
	li {
		h3 {
			line-height: 23px;
		}
	}
}
.loginForm {
	background: $white;
	border: 2px solid #ddd;
	margin-top: 6%;
	min-height: 370px !important;
	min-width: 200px;
	.row {
		margin-top: 3% !important;
	}
}
nav {
	padding: 0 15px 0 15px !important;
}

#btn_login {
  background: #ddd !important;
  color: #039be5 !important;
  font-weight: bold;
  &:hover {
	background: #1976d2 !important;
	color: $white !important;
	}
}

#loggedinNav {
	float: right;
	a {
		font-weight: bold;
		color: black;
		&:hover {
			background: transparent;
			color: black;
		}
	};
}

.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 200px; /* Changed this to accomodate content width */
  max-height: auto;
  margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  margin-top: 65px;
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
}

.title {
	color: black;
	margin-top: 2px;
	&:hover {
			color: $blue;
		}
}

.sidebar {
	background: $blue;
	position: absolute;
	z-index: 1000;
}
.workspace {
	height: auto;
	padding: 20px;
}

.workspace .panel{
	width: 80%;
	margin: 0 auto;
	margin-top: 40px;
	padding: 40px;
	margin-bottom: 40px;
	height: auto;
	background: $white;

}
.loginerror {
	color: $white_80;
	font-weight: bold;
}
.dashboardContainer {
	padding: 0 !important;
	div {
		padding: 0 !important;
	}
}
.brand-logo img {
	width: 50px;
	height: 50px;
	margin: 6px;
}
.useractions {
	width: 50px;
	height: 50px;
	background: white;
}

.useractions i{
	margin-top: 12px !important;
	color: $blue;
}

.pagination .active{
	a{
		background: #1976d2 !important;
	}
}

a {
	cursor: pointer;
}

 .usermenu {
	color: white;
	font-weight: bold;
	height: auto;
	padding: 20px;
 }


 #content {
	 background: white;
	 padding: 10px;
	 min-height: 300px;
 }

 .workspace-header{
	width: 80%;
	margin: 0 auto;
   	margin-top: 80px !important;
   	background: $white;
 }

#collapse_btn{
	margin-top: 15px !important;
	text-align: center;
	position: absolute;
}

#collapse_btn i{
	margin-top: -8px !important;
}


.side-nav {
padding-top: 120px !important;
}

.menu_link li {
padding-top: 50px !important;
}

.action_desc{
	margin-top: -1px !important;
}

.document-name-field input {
	width: 90%;
}

.doc_list {
	margin: 0 auto;

}

.doc_list a{
	color: black;
}

.doc_list a:hover{
	color: $blue;
}

.doc_list th, .doc_list td {
	padding: 15px;
	padding-left: 30px;
}

.pagination-btn {
	margin-right: 30px;
	margin-bottom: 30px;
}

.refresh-list-btn {
	color: #1976d2 !important;
}

.refresh-list-btn:hover{
	color: $blue !important;
}

.userRoleSelect{
	width: 90px;
}
.user_doc {
	background: $white_80;
	background-size: cover;
	padding: 0 !important;
	margin: 0 !important;
	overflow-y: scroll;
	min-height: 800px !important;
}
#dropbtn::after {
	font-family: 'Material Icons';
	color: #000000;
	margin-left: 5px;
	font-weight: 900px;
	content: "arrow_drop_down"
}
.access {
	margin-right: 28px;
}